.logotext {
    font-family: Helvetica;
    font-size: 44px

}
.labstart {
    font-family: Helvetica;
    font-size: 28px
}
P {
    font-family: Helvetica;
    font-size: 18px
 }
.startbutton {
    border: none;
    color: #3f90e1;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
}
.startbutton:hover {
  background-color: #04AA6D;
  color: white;
}

.Lunapic\" {

    opacity: 0;
    filter: alpha(opacity=40);
}

